.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top:35vh;
}