@media screen  and (min-width:1200px) {
    .jsQFNV{
        width:100% !important;
    }
}
@media screen and (max-width:800px) {
    .jsQFNV{
        width:auto !important;
    }
    .menu-horizontal {
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }    
    .menu-horizontal li {
        margin: 5px 0;
    }    
    .menu-horizontal li ul {
        position: static;
        display: none;
        margin-top: 0;
        margin-left: 0;
    }    
    .menu-horizontal li:hover ul {
        display: none;
    }
    .menu-horizontal li a {
        text-align: center;
    }
}
@media screen and (max-width:600px) {
    header{
        overflow: hidden;
    }
    .menu-horizontal li a {
        font-size:.7rem;
        padding:5px 1px 5px 5px;
    }
    .menu-horizontal li {
        margin: 3px 0;
    }  
}
@media screen and (min-width:250px)and (max-width:400px) {
    header{
        overflow: hidden;
    }
    .menu-horizontal li a {
        font-size:.5rem;
        padding:1px 1px 1px 1px;
    }
    .menu-horizontal li:first-child {
        display: none;
    }
}
