.container-search {
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    width: auto;
    margin: 0 auto;
}
.container-search input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.6s ease, box-shadow 0.3s ease;
    background-color: #000000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.6s ease, box-shadow 0.3s ease;
    -moz-transition: background-color 0.6s ease, box-shadow 0.3s ease;
    -ms-transition: background-color 0.6s ease, box-shadow 0.3s ease;
    -o-transition: background-color 0.6s ease, box-shadow 0.3s ease;
    border-radius:8%;
    -webkit-border-radius:8%;
    -moz-border-radius:8%;
    -ms-border-radius:8%;
    -o-border-radius:8%;
}
.container-search input[type="text"]:focus {
    background-color: #f5f5f5;
    box-shadow: 0 10px 15px rgba(202, 59, 59, 0.2); 
}
.container-search .actions {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
.container-search .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
}
.container-search .actions button:hover {
    color: #2979e2;
}